header{
    display: flex;
    align-items: center;
    justify-content: center;
background-image: linear-gradient(to right, #3462BB,#200B4D);
height: 100PX;
color: white;
font-size: 32px;
};


 aside{
    border: solid 2px black;
 }

 #today{
    border: solid 1px black;
    padding: 20px 0px 20px 10px;
 }

 #forecast{

   display: flex;
   align-items: center;
   justify-content: space-evenly;
   width:auto;
   height: 400px;
 }

.weatherForecast{
   background-color: #3462BB;
   width: 17%;
   height:75%;
   color: white;
   padding:20px;

}

h2{
   color: white;
}


img{
   width:50px;
   height: 50px;
}

.list-group > button{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
   margin: 10px;
   border-radius: 10px;
   height: 30px;
   font-size: 30px;
}

.list-group{
   /* border: solid 2px black; */
   height: auto;
}