header{
    display: flex;
    align-items: center;
    justify-content: center;
background-image: linear-gradient(to right, #3462BB,#200B4D);
height: 100PX;
color: white;
font-size: 32px;
};


 aside{
    border: solid 2px black;
 }

 #today{
    border: solid 1px black;
    padding: 20px 0px 20px 10px;
 }

 #forecast{

   display: flex;
   align-items: center;
   justify-content: space-evenly;
   border: solid 5px black;
   width:auto;
   height: 400px;
 }

.weatherForecast{
   background-color: aqua;
   border: solid 5px black;
   width: 17%;
   height:75%;

}

h2{
   color: white;
}

p{
   color: white;
}